{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
    <title>CS Blog</title>
  </head>

  <body>
    <div class="category pc">
      <span>
        <a href={% url 'introduce' %}>Home</a>
      </span>
      <span class='python'>
        <a href={% url 'python_list' %}>python</a>
      </span>
      <span class='javascript'>
        <a href={% url 'javascript_list' %}>javascript</a>
      </span>
      <span class='html'>
        <a href={% url 'html_list' %}>html</a>
      </span>
      <span class='css'>
        <a href={% url 'css_list' %}>css</a>
      </span>
      <span class='django'>
        <a href={% url 'django_list' %}>django</a>
      </span>
      <span class='react'>
        <a href={% url 'react_list' %}>react</a>
      </span>
      <span class='all'>
        <a href={% url 'index' %}>all</a>
      </span>
    </div>
    <div class='content'>
      {% block content %}{% endblock content %}
    </div>
    <script src="https://kit.fontawesome.com/99c58dc767.js" crossorigin="anonymous"></script>
  </body>

</html>
