{% extends './base.html' %}
{% load static %}
{% block content %}
  <div class="content__box">
    <div class='content_select_box_container'>
      <a class="content_select_box" href={% url 'index' %}>All post</a>
      <a class="content_select_box" href={% url 'python_list' %}>python</a>
      <a class="content_select_box" href={% url 'html_list' %}>html</a>
      <a class="content_select_box" href={% url 'css_list' %}>css</a>
      <a class="content_select_box" href={% url 'DB_list' %}>DB</a>
      <a class="content_select_box" href={% url 'django_list' %}>django</a>
      <a class="content_select_box" href={% url 'algorithm_list' %}>algorithm</a>
    </div>
    <ul>
      {% for obj in object %}
        <li>
          <a href={% url 'post-detail' obj.id %}>
            <h2 class='content__title'>{{obj.title}}</h2>
            <div class='content-title__box'>
              <div class="description">
                <span class='content__category'>category :
                  {{obj.type}}
                </span>
                <div class='content__description'>
                  <p>{{obj.description}}</p>
                </div>
              </div>
              <div class="content__date">
                <span>{{obj.dt_created|date:"M"}}
                  {{obj.dt_created|date:"d"}}</span>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <div class='page_ul_container'>
      <ul class='page_container'>
        {% if object.has_previous %}
          <li>
            <a href="?p={{object.previous_page_number}}">previous</a>
          </li>
        {% else %}
          <li>
            <a href="#" onclick="javascript:window.scrollTo(0,0)">top</a>

          </li>
        {% endif %}
        <li>
          <a href="#">{{object.number}}/{{object.paginator.num_pages}}</a>
        </li>
        {% if object.has_next %}
          <li>
            <a href="?p={{object.next_page_number}}">next</a>
          </li>
        {% else %}
          <li>
            <a href="#" onclick="javascript:window.scrollTo(0,0)">top</a>

          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock content %}