{% extends './base.html' %}

{% block content %}
  <div class='content__detail'>
    <div class="text-box">
      <h2 class='post-detail__title'>{{object.title}}</h2>
      <div class="score">
        <div class='post-detail__date'>
          <span class="year">{{object.dt_created|date:"Y"}}</span>
          <span class="month">{{object.dt_created|date:"M"}}</span>
          <span>{{object.dt_created|date:"d"}}</span>
        </div>
        <div>
          <span>Category :
          </span>
          <span>{{object.type}}</span>
        </div>
      </div>
    </div>
    <div class="post-detail__content">
      <p>{{object.content|safe}}</p>
    </div>
  </div>
{% endblock content %}
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"
eval "$(pyenv virtualenv-init -)"