{% extends './base.html' %}

{% block content %}
  <form method='post' class='content_create_form'>{% csrf_token %}
    <div class='content_create'>
      <div class='content_title_type'>
        <span>{{form.title}}</span>
        <span>{{form.type}}</span>
      </div>
      <div>
        {{form.content}}
      </div>
      <div>
        {{form.description}}
      </div>
    </div>
    {% for errors in form.code.errors %}
      <span>{{errors}}</span>
    {% endfor %}

    <input type='submit' value='작성하기'>
  </form>
{% endblock content %}