{% extends './base.html' %}
{% load disqus_tags %}

{% block content %}
  <div class='content__detail'>
    <div class="text-box">
      <h2 class='post-detail__title'>{{object.title}}</h2>
      <div class="score">
        <div class='post-detail__date'>
          <span class="year">{{object.dt_created|date:"Y"}}</span>
          <span class="month">{{object.dt_created|date:"M"}}</span>
          <span>{{object.dt_created|date:"d"}}</span>
        </div>
        {% comment %} <div>
          <span>Category :
          </span>
          <span>{{object.type}}</span>
        </div> {% endcomment %}
      </div>
    </div>
    <div class="post-detail__content">
      <p>{{object.content|safe}}</p>
    </div>
    <div class="comment">
        {% disqus_show_comments %}
    </div>
    {% comment %} <div id="disqus_thread"></div>
    <script>
      /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

      var disqus_config = function () {
        this.page.url = "http://127.0.0.1:8000/post-detail/{{object.post_id}};" // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{object.post_id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        this.language = "ko";
      };
      (function () { // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement('script');
        s.src = 'https://hyoungsoocsblog.disqus.com/embed.js';
        s.setAttribute('data-timestamp', + new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  </div> {% endcomment %}
{% endblock content %}
