{% extends './base.html' %}
{% load static %}
{% block content %}
  <div class="content__box">
    <ul>
      {% for obj in object %}
        <li>
          <a href={% url 'project-detail' obj.project_id.id obj.id %}>
            <h2 class='content__title project_content_title'>{{obj.title}}</h2>
            <div class='content-title__box'>
              <div class="description">
                {% comment %} <span class='content__category'>category :
                  {{obj.type}}
                </span> {% endcomment %}
                <div class='content__description'>
                  <p>{{obj.description}}</p>
                </div>
              </div>
              <div class="content__date">
                <span>{{obj.dt_created|date:"M"}}
                  {{obj.dt_created|date:"d"}}</span>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <div class='page_ul_container'>
      <ul class='page_container'>
        {% if object.has_previous %}
          <li>
            <a href="?p={{object.previous_page_number}}">previous</a>
          </li>
        {% else %}
          <li>
            <a href="#">previous</a>

          </li>
        {% endif %}
        <li>
          {% if object.number %}
            <a href="#">{{object.number}}/{{object.paginator.num_pages}}</a>
          {% else %}
            <a href='#'>1/1</a>
          {% endif %}

        </li>
        {% if object.has_next %}
          <li>
            <a href="?p={{object.next_page_number}}">next</a>
          </li>
        {% else %}
          <li>
            <a href="#">next</a>

          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock content %}